<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.post.mapper.PCommentMapper">

    <insert id="commentPost" useGeneratedKeys="true" keyProperty="cid">
        insert into post_comment (cid, pid, uid, `comment`, `date`)
        values (#{cid}, #{pid}, #{uid}, #{comment}, #{date})
    </insert>

    <select id="getPCommentByCid" resultType="com.central.post.model.PComment">
        select *
        from post_comment
        where cid = #{cid}
    </select>

    <select id="getPCommentByPid" resultType="com.central.post.model.PComment">
        select *
        from post_comment
        where pid = #{pid}
          and cid > #{startCid}
        order by cid
    </select>

    <select id="getPCommentByUid" resultType="com.central.post.model.PComment">
        select *
        from post_comment
        where uid = #{uid}
    </select>

    <delete id="DeleteComment">
        delete
        from post_comment
        where cid = #{cid}
    </delete>
</mapper>
