<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.user.mapper.DatasourceManagerMapper">
    <select id="queryAll" resultType="java.util.Map">
        SELECT * FROM ${tableName}
        <if test="page >= 0 and pageSize > 0">
            LIMIT #{page}, #{pageSize}
        </if>
    </select>
    <select id="queryTableNames" resultType="java.lang.String">
        select table_name from sys_tables;
    </select>
    <select id="queryTableIdByName" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT table_id
        FROM sys_tables
        WHERE table_name = #{tableName}
    </select>
    <update id="updateTable" parameterType="map">
        UPDATE ${tableName}
        SET
        <foreach collection="params" item="value" separator=",">
            ${value}
            =
            #{params[${value}]}
        </foreach>
    </update>
</mapper>